.crear-contenedor {
    margin: 0px auto;
}

.crear-contenedor .material-blue {
    height: 50px;
    padding: 0 50px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 1px;
    background-color: #315c74;
    border: none;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    display: inline-block;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
    box-sizing: border-box;
}

.crear-contenedor .material-blue:hover{
    background-color: #1976d2;
    box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
}

.crear-contenedor .material-blue i {
    margin-right: 15px;
}