#preferencias .material-blue{
    margin-top: 30px; 
    display: block;
    margin-left: 35%;
}

.crear-contenedor .material-blue {
    height: 40px;
    padding: 0px 28px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    background-color: #6ec4db;
    border: none;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.2);
    display: inline-block;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
    box-sizing: border-box;
}

.crear-contenedor .material-blue:hover{
    background-color: #10667e;
    box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
}

.crear-contenedor .material-blue i {
    margin-right: 15px; 

}


