.table-div {
    display: table;
    margin: 0;
    width: 100%;
    height: 100%;
}

.table-cell-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container span {
    position: relative;
}

.fa-book-alt {
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.otr {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    /*font-size: 30px;*/
}